/* Main Pallet:
blue grey: #3A4042
dark navy: #091324
ultra light blue: #F4F5F2
light grey blue: #CCD0DB
sumo orange: #FF5608

Complementary Colors:
periwinkle: #A485A8
light flat green: #9FA896

white: #FFFFFF
black: #000000 */


.overlay,.sideMenu {
    position:fixed;
    bottom:0
}
.overlay {
    top:0;
    left:-100%;
    right:100%;
    margin:auto;
    background-color:rgba(0,0,0,.4);
    z-index:998;
    transition:all ease 20ms
}

.sideMenu,.sidebarNavigation {
    z-index: 999;
    margin-bottom: 0
}

.overlay.open {
    left:0;
    right:0
}

.sidebarNavigation .left-navbar-toggle {
    float:left;
    margin-right: 0;
    margin-left: 15px;
}

.sideMenu {
    left: -100%;
    top: 55px;
    transition: all ease-in-out .4s;
    overflow: hidden;
    width: 50%;
    max-width: 50%
}

.sideMenu.open{
    left: 0;
    display: block;
    overflow-y: auto
}
.sideMenu ul{
    margin: 0
}